* {
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}
body{
  background:#ebe9ec;
}

.body_Img-Logo {
  margin: 0 15px;
  width: 80px;
  max-width: 100%;
  display: block;
}

.body_Container-Center-Img {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;

  animation: img-Center 1s ease 0s 1 alternate forwards;
}
.body_Center-Img-Text {
  position: absolute;
    font-size: 10vw;
  color: rgb(69 140 149);
  letter-spacing: 8px;
}
.loader::after, .loader::before {
  animation: loader 10s linear infinite;
  content: '';
  border: 2px solid #0000003b;
  width: 700px;
  height: 700px;
  position: fixed;
  border-radius: 50%;
  top: -8%;
  right: -44vw;
}
.loader::after{
  opacity: 0;
  animation-delay: 5s;
}
.body_Center-Img {
  display: block;
  margin: auto;
  width: 350px;
  height: 66vh;
  max-width: 100%;
}
.body_Container-Text-Description {
  width: 283px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  margin: 1vh 0 0 4vw;
  gap: 6px;
}
.body_Lineup-Text {
  background-color: rgb(0 0 0 / 29%);
  width: 40px;
  height: 5px;
}
.body_Text-Description {
  font-family: roboto;
  font-size: 12px;
  display: block;
  color: rgb(116, 116, 116);
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  white-space: normal;
}
.body_Content-Info {
  background: rgb(0 0 0 / 0%);
  border: rgb(0 0 0 / 0%);
  margin: 0 13px;
  display: none;
}
.body_Content-Info img {
  width: 23px;
  height: 23px;
  
}
.body_Container-Button-Arrow {
  display: flex;
    position: relative;
    top: 8vh;
    justify-content: flex-end;
    margin: 0 13px;
}
.body_Content-Arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.507);
  z-index: 1;
}
.body_Content-Arrow:hover {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}

.body_Content-Arrow:active {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.body_Content-Arrow:focus {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
.body_Content-Arrow img {
  width: 23px;
  height: 23px;
}
/*- - - - -*/
.slide{
  display: none;
}
/*- - --  -*/
.section_2-h4-container {
  background: white;
  font-size: 17px;
  width: 42%;
  padding: 24px;
  border-radius: 31px;
  margin: 23px 18px;
}
.section_2-h4-container h4 {
  font-family: 'Quicksand', sans-serif;
}
/* - - - - - */
.s003 {
  margin: 16px 0;
}
.s003 form {
  width: 100%;
  max-width: 790px;
  margin-bottom: 0;
}
.s003 form .inner-form {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  
}
.input-field.first-wrap {
  width: 200px;
  border-right: 1px solid rgba(0,0,0,.1);
  margin-bottom: 11px;
}
.input-field.second-wrap {
  margin-left: 19px;
  width: fit-content;
}
.input-field input {
  height: 100%;
  background: white;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 5px;
  font-size: 16px;
  color: #555;
  margin-right: 16px;
  display: none;
}
.input-field.third-wrap {
  width: 74px;
  margin-left: 10px;
}
select {
  padding: 10px;
  width: 200px;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  margin: 0 19px;
  border: transparent;
  color: gray;
}
.btn-search {
  border: transparent;
  background: white;
  width: 41px;
  height: 38px;
  display: none;
}
svg.svg-inline--fa.fa-search.fa-w-16 {
  width: 16px;
}
/*- - - - -*/

.section_2{
  display: none;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
}
.section_2-books-display-bts{
display: flex;
gap: 10px;
}
.section_2-bts-module-display{
  display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
    border-radius: 30px;
    border: 1px solid transparent;
    transition: all 0.2s ease;

}

main.content_books {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  margin: 40px 0
}
.book {
  background: rgb(255 255 255);
  height: 19rem;
  width: 15rem;
  max-width: 371px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  animation: myAnim 1s ease 0s 1 normal forwards;
  transition: height 2s ease 10ms;

}

.book img{
  width: 9em;
  height: 10em;
  border-radius: 7px;
  object-fit: fill;
  transition: height 2s ease 10ms;

}
.content_books h3 {
  font-size: 12px;
  text-align: center;
  width: 80%;
  z-index: 10000;
}

#viewbookall {
  background: transparent;
  border: transparent;
  width: 15rem;
  height: 19rem;
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
}
/* state active books */
.book.active{
  height: 5em;
  width: 17em;
  flex-direction: row;
  align-items: center;
  animation: myAnim 1s ease 0s 1 normal forwards;
  flex-wrap: nowrap;

  
}
.book img.active {
  width: 5em;
  height: 5em;
  border-radius: 7px 0px 0px 7px;
  object-fit: fill;
}
#viewbookall.active{
  height: 5em;
  width: 17em;
}
/* - - - -  - - - -*/
.nav_menu-view-book {
  position: fixed;
  background: #121212eb;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: none;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-end;

  animation: backgrounviewmenu1 1s ease 0s 1 normal both;
}
@keyframes backgrounviewmenu1 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}



.nav_menu-background-active {
  width: 100vw;
  height: 100vh;
  background: #1c1e1f;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;

  animation: backgrounviewmenu 2s ease 0s 1 normal both;

}
@keyframes backgrounviewmenu {
	0% {
		
		transform: translateX(350px);
	}

	100% {
		
		transform: translateX(0);
	}
}

.nav_menu-h2-title-book {
  animation: backgrounviewmenu-title 1.4s ease 1.8s 1 normal both;
}


.nav_menu-content-info-book {
  margin: 30px 20px;
  width: 90vw;
  height: 90vh;
  display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    z-index: 10000;
    color: white;
}
/* - - - - - - - - - -*/
.nav_menu-bts-close-menu {
  background: transparent;
  border: transparent;
  font-size: 24px;
  color: azure;
}
.nav_menu-img-book {
  width: 13rem;
  margin: 8px auto;
  z-index: 10000;

}
.nav_menu-img-book{
  animation: backgrounviewmenu-title 1.4s ease 2.5s 1 normal both;

}

.nav_menu-a-description {
  color:  #a5a5a5fa;
  font-size: 14px;
  z-index: 10000;
  
  animation: backgrounviewmenu-title 1.4s ease 3.4s 1 normal both;
}
@keyframes backgrounviewmenu-title {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.nav_menu-bts-download {
  width: 13rem;
  height: 3rem;
  background: #edeff3;
  border-radius: 4px;
  margin: 10px auto;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;

  animation: backgrounviewmenu-title 1.4s ease 4s 1 normal both;

}

.deco1 {
  position: absolute;
  z-index: 1000;
  top: 70%;
    right: -65%;
  transform: rotate(90deg);
  z-index: 1;
}
.deco2 {
  position: absolute;
  top: 63%;
  right: 98%;
  transform: rotate(269deg);
  z-index: 1;
}

@keyframes backgrounviewmenu-title-exit {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(350px);
	}
}


/* - - - - - -- - - */
@media only screen and (min-width: 595px) {
  .input-field.input-field.first-wrap{
    margin-bottom: unset;
  }
}
@media only screen and (min-width: 768px) {
  .nav_menu-background-active{
    width: 35vw;

  }
  .nav_menu-content-info-book{
    width: 31vw;
    height: 90vh;
  }
  .deco1{
    top: 61%;
    right: -18%;
  }
  .deco2{
    top: 63%;
    right: 37%;
  }
}

@media only screen and (min-width: 992px) {
 


}

@media only screen and (min-width: 1200px) {
}


@keyframes img-Center {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes loader{
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}



@keyframes exittoggle {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-50px);
	}
}


@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}